@import '../../styles/variables.scss';

form {
    width: 100%;
  .form-group {
    width: 100%;
    margin-bottom: 1rem;
  }
}

label {
    width: 100%;
    font-size: 1rem;
  }
  input,
  textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    color: gray;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 0.1rem;
  }
  textarea {
    min-height: 8rem;
    resize: vertical;
  }

.btnSend[type='submit'] {
    width: 100%;
    background-color: $primary;
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}